@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');

html ,b{
  height: 100%;
}


img{
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

*{
   font-family: 'Nunito Sans', sans-serif;
   padding: 0em;
   margin: 0em;
   box-sizing: border-box;
}

.thumbnail{
  width: 100%;
  height: 300px;
}

.card-title{
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.card-text{
  max-height: 3.2rem;
  overflow: hidden;
  font-weight: 300;
  font-size: 1.1rem;
}

.card-body{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root{
    --white:hsl(0, 0%, 100%);
    --white-head:hsl(0, 0%, 100%);
    --grey:#8a8d8e;
    --grey-white:#f2f3f5;
    --dark-grey:#cdcdcd;
    --grey-black:#414850;
}

/* .dark-color{
  --white-head: #2b3945;
  --white:#202c37;
  --grey-white:#2b3945;
} */

.edit-btn {
  background-color:var(--dark-grey);
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 200vh;
}

.edit-btn i {
  margin-right: 10px;
}


.main{
  background-color:var(--white);
  height: 100%;
}


/* .dark-color{
  --Dark-Blue: #2b3945;
  --Very-Dark-Blue: #202c37;
  --Very-Dark-Blue-light: hsl(200, 15%, 8%);
  --Dark-Gray-light-input: #858585;
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: #ffffff;
} */


.navbar-bg-color{
  background-color: var(--white-head) !important;
}
.navbar-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.navbar-home-color{
  color: var(--grey) !important;
  font-weight: 600;
}

.text-color{
  color: var(--grey);
  font-weight: 600;
}

.article-card{
  border-radius: 0.4rem;
  border: 0.5px solid var(--white);  

}

.article-card img{
  border-radius: 0.4rem 0.4rem 0rem 0rem ;
  width: 1rem;

}

.card-bg{
  background-color: var(--grey-white);  
}

.card-text-container{
  padding: 1.7rem 1.5rem;
  border-radius: 0rem 0rem  0.4rem 0.4rem;

}

.card-image-container{
  background-color: var(--white);
  border-radius: 0.4rem 0.4rem 0rem 0rem;

}

.card-image-container img{
  width: 100%;
  height: 100%;
}

.head-content{
  height: 2.5rem;
  overflow: hidden;
  font-size: 1rem;
  max-width: 25rem;
  font-weight: 600;
  color: var(--grey-black);
  text-overflow: clip;
  white-space: nowrap;
}

.head-text{
  font-size: 1rem;
  font-weight: 600;
}


.edit-button{
  border-radius: 100vh;
}

.edit-button img{
  width: 1.5rem;
  height: 1.5rem;
}

.edit-button i{
  background-color: var(--white);
  border-radius: 100vh;
  width: 1.5rem;
  height: 1.5rem;
}


.form-label{
  font-size: 1.2rem;
  font-weight: 600;
}

.title-input{
  max-width: 25rem; 
}

.article-image-container{
  max-height: 30rem;
}

.article-image-container img{
  width: 500px;
  height: 400px;
}



.article-content .article-head{
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: capitalize;

}

.article-content .article-text-container{
  font-size: 1.1rem;
  font-weight: 600;
}

.article-content .written{
  color: var(--grey-black);
}

.article-content .written .text-1{
  font-size: 1.2rem;
  font-weight: 600;
}

.article-content .written .text-2{
  font-size: 1.1;
  font-weight: 600;
  text-transform: capitalize;
}


.article-text-area{
  min-height: 30rem !important;
}






























/* loading animation */


:root {
    --width-square: 12px;
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  .animation-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .animation-container .square {
    position: relative;
    width: 30vw;
    height: 30vw;
    max-width: 70px;
    max-height: 70px;
    min-width: 40px;
    min-height: 40px;
  }
  .animation-container .square .line {
    background-color: blue;
    position: absolute;
    animation: animate-one 1.5s linear infinite;
  }
  .animation-container .square .line.line-x {
    width: var(--width-square);
    height: 100%;
    top: 0;
  }
  .animation-container .square .line.line-y {
    width: 100%;
    height: var(--width-square);
    left: 0;
  }
  
  .animation-container .square .line.one {
    left:0;
    transform-origin: left top;
  }
  .animation-container .square .line.two {
    top: 0;
    transform-origin: right top;
  }
  .animation-container .square .line.three {
    right: 0;
    transform-origin: right bottom;
  }
  .animation-container .square .line.four {
    bottom: 0;
    transform-origin: left bottom;
  }
  
  @keyframes animate-one {
    0% {
      transform: rotate(0deg);
    }
    50%, 100% {
      transform: rotate(360deg);
    }
  }



  /* error for error message */




/* saved message pop */



.success-msg {
  color: #270;
  background-color: #DFF2BF;
}

.error-msg{
  color: hsl(0, 97%, 47%);
  background-color:hsl(0, 59%, 77%);
}


.success-msg{
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.save-message-container{
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);

}

.card-image-container{
  height: 200px;
}

.card-image-container img{
  height: 100%;
  width: 100%;
}

.register-container{
  height: 100vh;
  padding-top: 15rem;
}

.register-container h3{
  font-size: 2rem;
  font-weight: 600;
}



.register-box{
  padding: 1rem;
  min-width: 25%;
  max-width: 25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.7rem;
}

.register-box label{
  font-size: 1.2rem;
}

